<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZerzuraKit-Universal copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZerzuraKit-Universal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZerzuraKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZerzuraKit-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZerzuraKit-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZerzuraKit-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZerzuraKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZerzuraKit_iOSTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5117F2E230B41940011C2C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D51DD598233D8739003BFB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56E0D6C230B46F0007A3468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56E0D7B230B499A007A3468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D56E0D8A230B49EC007A3468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59CBC9822D408E9009ED4C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59CBCA822D40A82009ED4C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59CBCB122D40AA3009ED4C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
